
.form {
	margin:0;
}

.form li {
	list-style:none;
}

.hide {
	display:none;
}

.expertise input[type="radio"] {
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	cursor:pointer;
	width:17px;
}

.expertise span {
	width:24px;
	height:16px;
	line-height:16px;
	padding:1px 22px 1px 0; /* 1px FireFox fix */
	background:url(stars.png) no-repeat -22px 0;
}

.expertise input[type="radio"]:checked + span {
	background-position:-22px 0;
}

.expertise input[type="radio"]:checked + span ~ span {
	background-position:0 0;
}
/*******/


.engagement input[type="radio"] {
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	cursor:pointer;
	width:17px;
}

.engagement span {
	width:24px;
	height:16px;
	line-height:16px;
	padding:1px 22px 1px 0; /* 1px FireFox fix */
	background:url(stars.png) no-repeat -22px 0;
}

.engagement input[type="radio"]:checked + span {
	background-position:-22px 0;
}

.engagement input[type="radio"]:checked + span ~ span {
	background-position:0 0;
}
/*******/


.clarity input[type="radio"] {
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	cursor:pointer;
	width:17px;
}

.clarity span {
	width:24px;
	height:16px;
	line-height:16px;
	padding:1px 22px 1px 0; /* 1px FireFox fix */
	background:url(stars.png) no-repeat -22px 0;
}

.clarity input[type="radio"]:checked + span {
	background-position:-22px 0;
}

.clarity input[type="radio"]:checked + span ~ span {
	background-position:0 0;
}
/*******/


.status input[type="radio"] {
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	cursor:pointer;
	width:17px;
}

.status span {
	width:24px;
	height:16px;
	line-height:16px;
	padding:1px 22px 1px 0; /* 1px FireFox fix */
	background:url(stars.png) no-repeat -22px 0;
}

.status input[type="radio"]:checked + span {
	background-position:-22px 0;
}

.status input[type="radio"]:checked + span ~ span {
	background-position:0 0;
}
